body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
}
.wrapper {
  background: rgba(255, 255, 255, 0.8); /* White with transparency */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.input.box {
  position: relative;
  margin-bottom: 20px;
}

.input.box input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.remember-forgot,
.register {
  text-align: center;
  margin-bottom: 10px;
}

.remember-forgot a,
.register a {
  color: #007bff;
  text-decoration: none;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 10px;
  }

  .quick-actions {
    flex-direction: column;
    align-items: center;
  }

  .quick-actions a {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }

  .quick-actions a img {
    width: 20px;
    height: 20px;
  }
}
