/* index.css 또는 App.css 파일에 추가 */
@import url("https://cdnjs.cloudflare.com/ajax/libs/react-modal/3.13.1/react-modal.min.css");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
