.board-detail-page {
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.board-detail-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  width: 800px; /* 고정된 너비 */
  margin: 20px 0;
}

.board-detail {
  margin-bottom: 20px;
}

.board-title {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: left; /* 제목을 왼쪽 정렬 */
}

.board-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.board-nickname,
.board-date {
  font-size: 1em;
  color: #555555;
}

.board-content {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  white-space: pre-wrap; /* 개행문자 적용 */
  text-align: left; /* 내용 왼쪽 정렬 */
}

.comments-section {
  margin-top: 20px;
}

.no-comments {
  text-align: left; /* 댓글이 없을 때 메시지를 왼쪽 정렬 */
  font-size: 1.2em;
  color: #888888;
}

@media (max-width: 768px) {
  .board-detail-container {
    width: 100%; /* 모바일에서 너비 100% */
    padding: 10px;
  }

  .board-title {
    font-size: 1.5em;
  }

  .board-content {
    font-size: 1em;
  }
}
