/* PasswordRecoveryEmailLookup.css */

.container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.tab-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab-button {
  flex: 1;
  padding: 10px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #0075ff;
}

.tab-button.active {
  background-color: #0075ff;
  color: #f4f9ff;
}

.tab-button:hover {
  background-color: #2caeff;
  color: #f4f9ff;
}

.tab-content {
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input.box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  transition: border-color 0.3s ease;
  background-color: #f4f9ff;
  width: 100%;
  max-width: 400px;
}

.input.box input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  color: #0075ff;
  background-color: #f4f9ff;
}

.input.box .icon {
  font-size: 20px;
  color: #0075ff;
}

.input.box:focus-within {
  border-color: #0075ff;
}

.button {
  width: 100%;
  max-width: 400px;
  padding: 10px 20px;
  background-color: #0075ff;
  color: #f4f9ff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.button:hover {
  background-color: #2caeff;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.success {
  color: green;
  margin-bottom: 10px;
}
